	<!--banner-->
	<!--<div class="banner about-bnr">
		<div class="banner-info about-bnr-info">
			<h2 class="hdng">Lorem ipsum dolor sit amet onsectetur</h2>
			<p>Our best Florence make your day special</p>
		</div>
	</div>			-->
	<!--//banner-->

	<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="contact-main">
				<h3 class="title">Contact Us</h3>
				<div class="contact-top">
					<div class="col-md-6 contact-top-left">
						<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>-->
					</div>
					<div class="col-md-6 contact-top-right">
						<div class="contact-textarea">
							<form>
								<input type="text" ng-model = "query.firstName" placeholder="First Name.."/>
								<input type="text" ng-model = "query.lastName"  placeholder="Last Name.."/>
								<input type="text" ng-model = "query.email"  placeholder="Email.."/>
								<textarea ng-model = "query.message" placeholder="Message..">Message..</textarea>
								<input type="submit" ng-click = "contactQuery(query)" value = Submit>
								<input type="reset" value="CLEAR" >
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	