	<!--banner-->
	<!--<div class="banner">
		<div class="banner-info">
			<h2 class="hdng">The Epic Events Planner</h2>
			<p>Our Creativity make your day special</p>
		</div>
	</div>			-->
	<!--//banner-->	
	
	<div class="bnr-botom">				
		<div class="col-md-6 bnr-botom-left">
			<div class="bnr-botom-info">
				<!--banner Slider starts Here-->
				<script src="../Angular/Templates/js/responsiveslides.min.js"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 3
					  $("#slider3").responsiveSlides({
						auto: true,
						pager: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });
				
					});
				</script>
				<!--//End-slider-script-->
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<h3>WE ULLAM TRISBULU ULTRI<span> MENTUM </span><br> BULUM FAUCIBUS</h3>
						</li>
						<li>
							<h3>TRISBULU WE ULLAM MENTU<span> ULTRIG </span><br> BULUM FAUCIBUS</h3>
						</li>
						<li>
							<h3>FAUCIBUS ULLAM WE MENTU<span> BULUM </span><br> ULTRIG TRISBULU</h3>
						</li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<p>Proin eget ipsum ultrices sit amet diam faucibus molestie Mauris sapien odio dignissimos ducimus qui cupiditate auctor viverra aliquam </p>						
			</div>
		</div>	
		<div class="col-md-6 bnr-botom-right">
			<img src="../Angular/Templates/images/img1.jpg" alt="">
		</div>
		<div class="clearfix"> </div>
		<!--welcome-->
		<div class="welcome">	
			<div class="col-md-6 bnr-botom-left">
				<img src="../Angular/Templates/images/img2.jpg" alt="">
			</div>
			<div class="col-md-6 welcome-right">
				<h3>AMET DIAM FAUCIBUS</h3>
				<p>Proin eget ipsum ultrices sit amet diam faucibus molestie Mauris sapien odio dignissimos ducimus qui cupiditate auctor viverra aliquam </p>						
			</div>	
			<div class="clearfix"> </div>
		</div>	
		<!--//welcome-->
	</div>			
	<!--//banner-bottom-->	
	<!--slid-->
	<div class="slid">
		<div class="col-md-6 slid-left">
			<img src="../Angular/Templates/images/img3.jpg" alt="">
		</div>
		<div class="col-md-6 slid-right">
			<div class="slid-right-info">
				<h3>BE LUMLAM MAURIS EGET</h3>
				<p>Proin eget ipsum ultrices sit amet diam faucibus molestie Mauris sapien odio dignissimos ducimus qui cupiditate auctor viverra aliquam </p>						
				<div class="more">
					<a href="#">Read more <span class="glyphicon glyphicon-chevron-right arrow-one" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
		<!--welcome-->
		<div class="welcome">	
			<div class="col-md-6 welcome-right">
				<h3>AMET DIAM FAUCIBUS</h3>
				<p>Proin eget ipsum ultrices sit amet diam faucibus molestie Mauris sapien odio dignissimos ducimus qui cupiditate auctor viverra aliquam </p>						
				<ul>
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Kroin placerat</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Epsum et rutrum</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Proin semper utr</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Ligula sit amet</a></li>
				</ul>
			</div>
			<div class="col-md-6 bnr-botom-left">
				<img src="../Angular/Templates/images/img4.jpg" alt="">
			</div>			
			<div class="clearfix"> </div>
		</div>	
		<!--//welcome-->
	</div>
	<!--//slid-->
	<hr>
	<hr>
	<hr><hr>
	<hr>
	<hr><hr>
	<hr>
	<hr><hr>
